body{
	/* background:#333333 url(images/page-bg.jpg); */
	margin:0px;
	font: 900 12px/22px Helvetica, sans-serif;
	color:"rgb(135,178,220)";
}

hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 900;
	 width: 57%;
	 border-color:rgb(151,225,253);

    padding: 0;
}
p{ color:#000033;}
h1{font: 300 43px/45px Crimson Text; color:rgb(82, 77, 76);}
hH{font: 300 43px/45px Helvetica; color:rgb(28,238,120);}
hE{font: 300 43px/45px Helvetica; color:rgb(251,96,79);}
hL{font: 300 43px/45px Helvetica; color:rgb(255,255,91);}
hL2{font: 300 43px/45px Helvetica; color:rgb(245, 114, 7);}
hO{font: 300 43px/45px  Helvetica; color:rgb(151,2,253);}
h2{font: 400 18px/22px Helvetica; color:rgb(82, 77, 76);}
h3{font: 400 14px/16px Helvetica; color:#000033;      margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font-size: 130%;
   vertical-align: baseline;
   background: transparent;

   line-height:200%; 
   width:300;}
   h4{font: 300 18px/22px Helvetica; color:rgb(82, 77, 76); }
   h5{font: 300 18px/22px Helvetica;margin:10px 0px 10px;float:center; color:rgb(26,79,145);}
ul{margin:0px; padding:0px;}
a {text-decoration:none; color:rgb(253,252,223);}
a:hover {color:rgb(219, 44, 170);}
a img{border:0px;}

.ta {text-decoration:none; color:rgb(219, 44, 170);}
.ta:hover {color:rgb(28,238,120);}

#imageContainer {
       width:1200px; 
       height:250px; 
       /* background-image: url(images/painting250-1200.jpg); */
 }
#imageContainer h1{margin:50px 0px 335px 750px;float:center; }
#imageContainer h4{margin:50px 150px 0px 0px;float:right; }
 
#container{
	width:1286px;
	margin:0px auto 30px auto;
	background:url(images/body-bg.png);
	overflow:auto;
	padding-bottom:10px;
}

.button__about{font-size:18px;padding:5px 10px;display:inline-block;cursor:pointer;-webkit-border-radius:1px;-moz-border-radius:1px;-ms-border-radius:1px;-o-border-radius:1px;border-radius:1px;*zoom:1;filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEBF3F9', endColorstr='#FF9DC4E1');background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #fbfcfe), color-stop(51%, #ebf3f9));background:-webkit-linear-gradient(#fbfcfe 50%,#ebf3f9 51%);background:-moz-linear-gradient(#fbfcfe 50%,#ebf3f9 51%);background:-o-linear-gradient(#fbfcfe 50%,#ebf3f9 51%);background:linear-gradient(#fbfcfe 50%,#ebf3f9 51%);-webkit-box-shadow:#fff 0 1px 0 inset;-moz-box-shadow:#fff 0 1px 0 inset;box-shadow:#fff 0 1px 0 inset;border:1px solid #98d5f8;color:#5a5a5a;text-shadow:#fff 0 -1px 0;text-transform:uppercase;font-size:16px;font-weight:bold;text-align:center;margin:0 30px 0 0;width:200px}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:1200px;
	height:45px;
	background-color:rgb(82, 77, 76);
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -643px;
}
#header #logo{
	padding-top:10px;
	float:right;
}

#site-logo{position:absolute; display:block;margin:auto;right:0;bottom:0;margin-bottom:400px;margin-right:60%;z-index:10;width:170px;height:200px}
#site-whole-title{position:absolute;text-align:center;position:absolute;bottom:150;left:0;right:0;top:-30;margin:0 auto;max-width:750px ;color:rgb(27,0,62)}@media (max-width: 720px){.site-whole-title{padding-left:20px;padding-right:20px}}
#site-title{font-size:40px;font-weight:100;line-height:1;margin:0;padding:0 10px ;color:rgb(82, 77, 76)}
#header #main-menu{float:left; padding-top:12px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}
#IM{position:static; display:block;margin:auto;right:0;bottom:100;margin-top:150px;margin-bottom:10px;margin-right:60%;z-index:10;width:170px;height:200px}
/****************************************************/
/* Intro SECTION */
/****************************************************/
#intro{margin:0px 0px 0px; padding-top:15px;padding-bottom:15px; text-align:left; }
#intro .content{overflow:auto; }
#intro h1{font: 300 43px/45px Courier; color:rgb(82, 77, 76);} 
#intro h1{margin:110px 0px 10px;float:center; olor:rgb(82, 77, 76)}
#intro h4{margin:10px 0px 10px;float:center; olor:rgb(82, 77, 76)}
#intro h5{margin:10px 0px 10px;float:center; Courier;color:rgb(82, 77, 76)}
#intro .content img{float:left;margin-right:20px ; margin-left:40px ;margin-bottom:0px; margin-top:100px;  padding-top:-1500px; border-radius: 50%;}




/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:5px; text-align:center;}
#about h1{float:left;}
#about #top-social{float:right; padding-top:62px;}
#about #top-social li{float:left; list-style:none; margin-left:10px;}
#about #top-social .facebook{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-facebook-icon.png) no-repeat;
}
#about #top-social .twitter{
	text-indent:-9999px; 
	display:block; 
	width:31px; 
	height:24px; 
	background:url(images/sm-twitter-icon.png) no-repeat;
}
#about #top-social .linkedin{
	text-indent:-9999px; 
	display:block; 
	width:26px; 
	height:26px; 
	background:url(images/sm-linkedin-icon.png) no-repeat;
}
#about .content{overflow:auto; }
#about .content img{float:left; margin-right:700px;margin-bottom:0px; margin-top:-100px;  padding-top:-200px;}
#about .content #service-icons{margin-top:20px;}

#about .content #service-icons li{
	display:block;
	width:108px;
	height:108px;
	text-indent:-9999px;
	list-style:none;
	float:right;
	float:right;
	margin-right:20px;
	
}
#about .content #service-icons li.services-design{background:url(images/icon-1.png) no-repeat;}
#about .content #service-icons li.services-mobile{background:url(images/icon-2.png) no-repeat;}
#about .content #service-icons li.services-film{background:url(images/icon-3.png) no-repeat;}
#about .content #service-icons li.services-photo{background:url(images/icon-4.png) no-repeat;}




/****************************************************/
/* EXPERIENCE SECTION */
/****************************************************/

#experience{margin:0px 43px; padding-top:48px;}
#experience .col{
	width:500px;
	float:left;
	margin:0px -170px ;
}
#experience .col-mid2{
	width:700px;
	float:left;
	margin:0px 0px ;
}
#experience .col-icon2{
	width:100px;
	float:left;
	margin:0px 0px;
}
#experience .col-icon{
	width:50px;
	float:left;
	margin:0px 55px;
}
#experience .col-pro{
	float:left;
	margin:0px 55px 20px;
}
#experience .content{overflow:auto;}
#experience .col-mid{margin:0px 10px; }


/****************************************************/
/*EDUCATION SECTION */
/****************************************************/

#education{margin:0px 43px; padding-top:48px;}
#education .col{
	width:235px;
	float:left;
}
#education .content{overflow:auto;}
#education .col-mid{margin:0px 0px; width:635px;}
#education .col-first{margin:0px 0px; width:80px;}
#education .col-last{margin:0px 0px; width:180px;}
/****************************************************/
/*NEWS SECTION */
/****************************************************/

.news-item {
  margin-bottom: 6px;
  font-size: 0.95rem;
}

/* Bold text inside brackets */
.news-item::before {
  content: "";
}

.news-item {
  font-weight: normal;
}

.news-item b {
  font-weight: bold;
}

.news-item {
  margin-bottom: 6px;
  font-size: 0.95rem;
}

.news-date {
  font-weight: 700;   /* bold only the date */
  margin-right: 6px;
}

#news{margin:0px 43px; padding-top:48px;}
#news.col{
	width:235px;
	float:left;
}
#news .content{overflow:auto;}
#news .col-mid{margin:0px 0px; width:435px;}

/****************************************************/
/*Profassional Services SECTION */
/****************************************************/

.PS-item {
  margin-bottom: 6px;
  font-size: 0.95rem;
}

/* Bold text inside brackets */
.PS-item::before {
  content: "";
}

.PS-item {
  font-weight: normal;
}

.PS-item b {
  font-weight: bold;
}

.PS-item {
  margin-bottom: 6px;
  font-size: 0.95rem;
}

.PS-date {
  font-weight: 700;   /* bold only the date */
  margin-right: 6px;
}

#PS{margin:0px 43px; padding-top:48px;}
#PS.col{
	width:235px;
	float:left;
}
#PS .content{overflow:auto;}
#PS .col-mid{margin:0px 0px; width:435px;}
/****************************************************/
/*Skill SECTION */
/****************************************************/

#skill{margin:0px 43px; padding-top:48px;}
#skill.col{
	width:235px;
	float:left;
}
#skill .content{overflow:auto;}
#skill .col-mid{margin:0px 0px; width:435px;}

/****************************************************/
/*Intrest SECTION */
/****************************************************/

#Interest{margin:0px 43px; padding-top:48px;}
#Interest.col{
	width:235px;
	float:left;
}
#Interest .content{overflow:auto;}
#Interest .col-mid{margin:0px 0px; width:435px;}


/****************************************************/
/* WORK SECTION */
/****************************************************/

#work{margin:0px 43px; padding-top:48px;}
#work .col{
	width:90%px;
	float:left;
}
#work .col2-3{
	width:55%;
	float:left;
}
#work.content{overflow:auto;}
#work.col-mid{margin:0px 65px;}
#work .content{overflow:auto;}
#work #work-thumbs li{
	list-style:none;
	float:left;
	margin:0px 20px 15px 0px;
	padding:0px;
}
#work #work-thumbs li.last{margin:0px;}

/****************************************************/
/* CONNECT SECTION */
/****************************************************/
#connect{margin:0px 43px; padding-top:48px;}
#connect .content{overflow:auto;}
#connect #form{
	width:410px;
	float:left;
}
#connect #form span{
	display:block;
	float:left;
	width:100px;
	padding-top:5px;
	font: 400 14px/16px Helvetica, sans-serif;
}
#connect #form input{
	float:left;
	width:255px;
	border:0px;
	color:#3b3b3b;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px Helvetica, sans-serif;
	margin-bottom:10px;
}
#connect #form textarea{
	float:left;
	border:0px;
	width:255px;
	height:100px;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px Helvetica, sans-serif;
	color:#3b3b3b;
}

#connect #form input.name{background:#222222 url(images/icon-user.png) no-repeat 10px 8px;}
#connect #form input.email{background:#222222 url(images/icon-mail.png) no-repeat 10px 9px;}
#connect #form textarea.message{background:#222222 url(images/icon-message.png) no-repeat 10px 8px;}
#connect #form input.submit{ 
	width:75px;   
	height:30px;
	float:right;
	padding:0px 0px 5px 0px;
	margin:10px 16px 0px 0px;
	background:#222222;
	color:#3b3b3b;
	font: 400 14px/16px Helvetica, sans-serif;
}

#connect #social-footer{
	width:300px;
	float:left;
	margin-left:75px;
}
#connect #social-footer #sm-links{margin-top:25px;}
#connect #social-footer #sm-links li{
	list-style:none;
	float:left;
}
#connect #social-footer #sm-links li a{
	display:block;
	text-indent:-9999px;
	width:26px; 
	height:26px;
	margin-right:10px;
}
#connect #social-footer #sm-links li a.facebook{background:url(images/sm-facebook-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.twitter{background:url(images/sm-twitter-icon.png) no-repeat; width:31px;}
#connect #social-footer #sm-links li a.dribble{background:url(images/sm-dribble-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.vimeo{background:url(images/sm-vimeo-icon.png) no-repeat; width:27px;}
#connect #social-footer #sm-links li a.google{background:url(images/sm-google-icon.png) no-repeat;}
#connect #social-footer #sm-links li a.youtube{background:url(images/sm-youtube-icon.png) no-repeat; width:28px;}
#connect #social-footer #sm-links li a.linkedin{background:url(images/sm-linkedin-icon.png) no-repeat;}

/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
	width:100%;
	height:9px;
	background:url(images/divider.png) repeat-x;
	clear:both;
}
.top-divider{margin-bottom:20px;}
.bottom-divider{margin-top:20px;}
